version: 2

updates:
  # Go modules
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
      day: monday
    target-branch: main
    labels:
      - dependencies
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(deps):"

  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    target-branch: main
    labels:
      - dependencies
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore(deps):"
